@use 'variables' as vars;

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: vars.$color-surface-alt;
  color: vars.$color-text;
  display: grid;
  place-items: center;
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
